@import '~@angular/material/theming';

app-toolbar {
  @include mat-elevation(8);
  display: block;
  margin-bottom: 20px;
}

.content {
  display: flex;
}

.toggle {
  margin-left: 20px;
}
app-dashboard {
  flex: 5;
}
